################# Alt three entries are required ###########
# Make sure you keep the naming convention on the third column
# add/remove entries based on "role"-"index"

# on vagrant up for example, the generated hosts file looks like:

172.16.0.35     load-balancer.kubernetes.local	load-balancer
172.16.0.10     controller-0.kubernetes.local	controller-0
172.16.0.11     controller-1.kubernetes.local	controller-1
172.16.0.20	    worker-0.kubernetes.local	    worker-0
172.16.0.21	    worker-1.kubernetes.local       worker-1

