# the third column is optional
# add/remove entries using the "role"-"index" syntax on the second column
# on vagrant up for example, the generated hosts file on the client looks like:

172.16.0.35     load-balancer       load-balancer.kubernetes.local
172.16.0.10     controller-0        controller-0.kubernetes.local
172.16.0.11     controller-1        controller-1.kubernetes.local
172.16.0.20	    worker-0            worker-0.kubernetes.local
172.16.0.21	    worker-1            worker-1.kubernetes.local
